
body {
    background-color: slategray;
    opacity: 0.3;
    margin-left: auto;
    margin-right: auto;
    
    border-radius: 12px;
}
.PSUNAV {
    border: 0.2px darkslategray;
    padding: 5px;
}

.b1{
    border: 0.2px darkslategray;
    border-radius: 12px;
    padding: 10px;
}

.grayable{
    border: 0.2px darkslategray;
    border-radius: 12px;
    padding: 10px;

}