<!DOCTYPE html>
<html lang="en">
    
    <head>
        <title>HVPSU</title>
        <link rel="stylesheet" href="static\css\HVStyleSheet.css"/>
        <link rel = "icon" href ="static\img\icon.ico" type="image/icon"/>
    </head>

    <div>
        {% with messages = get_flashed_messages() %}
         {% if messages %}
            <ul>
               {% for message in messages %}
               <li>{{ message }}</li>
               {% endfor %}
            </ul>
         {% endif %}
      {% endwith %}
    </div>
    
    <header>
        <h1>High Voltage Supply Configuration</h1>
    </header>

    

    <script> 
        function onlyNumberKey(evt) { 
              
            // Only ASCII charactar in that range allowed NUMBERS AND .
            var ASCIICode = (evt.which) ? evt.which : evt.keyCode 
            if (ASCIICode > 31 && (ASCIICode < 48 || ASCIICode > 57) && ASCIICode != 46)
                return false; 
            return true; 
        } 
    </script>

    <h1><a href="Quick_Access"><button class="b1">Return to Quick Access</button></a></h1>
    <article>
        <section>
            <h1>Power Supply 1 Settings</h1>
            <form action="/updateHV" method="POST">
                <label>Filament Current Limit:</label>
                <input type="text" onkeypress="return onlyNumberKey(event)" placeholder="Filament Current Limit" name="filcurlim" value={{filcurlim}}>
                <br>
                <label>Filament Pre-Heat:</label>
                <input type="text" onkeypress="return onlyNumberKey(event)" placeholder="Filament Pre-Heat" name="filpreheat" value={{filpreheat}}>
                <br>
                <label>kV Starting Voltage:</label>
                <input type="text" onkeypress="return onlyNumberKey(event)" placeholder="kV Starting Voltage" name="condKVStart" value={{condKVStart}}>
                <br>
                <label>kV Target Voltage:</label>
                <input type="text" onkeypress="return onlyNumberKey(event)" placeholder="kV Target Voltage" name="condKVTarget" value={{condKVTarget}}>
                <br>
                <label>mA Starting Current:</label>
                <input type="text" onkeypress="return onlyNumberKey(event)" placeholder="mA Starting Current" name="condMAStart" value={{condMAStart}}>
                <br>
                <label>mA Target Current:</label>
                <input type="text" onkeypress="return onlyNumberKey(event)" placeholder="mA Target Current" name="condMATarget" value={{condMATarget}}>
                <br>
                <label>Conditioning Step Dwell:</label>
                <input type="text" onkeypress="return onlyNumberKey(event)" placeholder="Conditioning Step Dwell" name="condStepDwell" value={{condStepDwell}}>
                <br>
                <label>Post Arc Dwell:</label>
                <input type="text" onkeypress="return onlyNumberKey(event)" placeholder="Post Arc Dwell" name="CondPostArcDwell" value={{CondPostArcDwell}}>
                <br>
                <label>Off Dwell:</label>
                <input type="text" onkeypress="return onlyNumberKey(event)" placeholder="Off Dwell" name="CondOffDwell" value={{CondOffDwell}}>
                <br>
                <label>Number of Steps:</label>
                <input type="text" onkeypress="return onlyNumberKey(event)" placeholder="Number of Steps" name="CondStepCount" value={{CondStepCount}}>
                <br>
                <input type="submit" name="UpdatePSU1" value="Click to Update Params" >
            </form>
            <br>
            <!-- <form action="/updateHV" method="GET">
                <label>Total Time</label>
                <br>
                <label value="this is a test"></label>
                <br>
                <label>Total Time Remaining</label>
                <br>
                <label value="this is a test"></label>

                <input type="button" name="update_time" value="Calculate Time">
            </form> -->
        </section>
</article>
</html>