<!DOCTYPE html>
<html lang="en">
    
    <head>
        <title>HVPSU</title>
        <link rel="stylesheet" href="static\css\HVStyleSheet.css"/>
        <link rel = "icon" href ="static\img\icon.ico" type="image/icon"/>
    </head>

    <header>High Voltage Supply Configuration</header>
    <section>
        <nav>
            <li><a>Power Supply 1</a></li>
            <li><a>Power Supply 2</a></li>
            <li><a>Power Supply 3</a></li>
            <li><a>Power Supply 4</a></li>
        </nav>
        
    </section>
</html>