<!DOCTYPE html>
<html lang="en">
    
    <head>
        <title>HVPSU</title>
        <link rel="stylesheet" href="static\css\HVStyleSheet.css"/>
        <link rel = "icon" href ="static\img\icon.ico" type="image/icon"/>
        <!-- <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
        <script type="text/javascript"> 
            
            // function mychart(supplyNumber) {
                
            //     if (supplyNumber == 0){
            //         document.getElementById("charts").hidden = true;
                    
            //         return;
            //     }

            //     var xhttp = new XMLHttpRequest();
            //     xhttp.onreadystatechange = function() {
            //         if (this.readyState == 4 && this.status == 200) {
            //             for (key in this.response){

            //             }
                    



                    var chartVoltage = new CanvasJS.Chart("chartContainer1",
                    {
                        zoomEnabled: true,
                        
                    title:{
                    text: "Voltage/Current/Filament readouts from Supply " + supplyNumber
                    },
                    axisX:{
                        title:"Conditioning time"
                        
                    },
                    axisY:{
                        title:"Voltage(kV)"
                        ,gridThickness: 1
                    },
                    data: [
                        {
                            lineDashType: "Line",
                            lineColor: "red",
                            type: "line",
                            dataPoints: voltage
                        }
                        ]
                    });
                    var chartCurrent = new CanvasJS.Chart("chartContainer2",
                    {
                        zoomEnabled: true,
                        
                    
                    axisX:{
                        title:"Conditioning time"
                        
                    },
                    axisY:{
                        title:"Current(mA)"
                        ,gridThickness: 1
                    },
                    data: [
                        {
                            lineDashType: "Line",
                            lineColor: "blue",
                            type: "line",
                            dataPoints: current
                        }
                        ]
                    });
                    var chartFilCurrent = new CanvasJS.Chart("chartContainer3",
                    {
                        zoomEnabled: true,
                    
                    
                    axisX:{
                        title:"Conditioning time"
                        
                    },
                    axisY:{
                        title:"Filament Current(mA)"
                        ,gridThickness: 1
                    },
                    data: [
                        {
                            lineDashType: "Line",
                            lineColor: "green",
                            type: "line",
                            dataPoints: Filcurrent
                        }
                        ]
                    });
                    
                    chartVoltage.render();
                    chartCurrent.render();
                    chartFilCurrent.render();
                }
            }
            xhttp.open("POST", "/ajaxCondStart", true);
            xhttp.send(supplyNumber);
            document.getElementById("charts").hidden = false;
            }
        </script> -->
        
    </head>

    <div>
        {% with messages = get_flashed_messages() %}
         {% if messages %}
            <ul>
               {% for message in messages %}
               <li>{{ message }}</li>
               {% endfor %}
            </ul>
         {% endif %}
      {% endwith %}
    </div>
    
    <header>
        <h1>High Voltage Supply Configuration</h1>
        
    </header>

    
    
    
<script>
        function condStart(supplyNumber){
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    alert(this.responseText);
                }
            }
            xhttp.open("POST", "/ajaxCondStart", true);
            xhttp.send(supplyNumber);
        }
        function condStop(supplyNumber){
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    alert(this.responseText);
                }
            }
            xhttp.open("POST", "/ajaxCondStop", true);
            xhttp.send(supplyNumber);
        }
        function onlyNumberKey(evt) { 
              
            // Only ASCII charactar in that range allowed NUMBERS AND .
            var ASCIICode = (evt.which) ? evt.which : evt.keyCode 
            if (ASCIICode > 31 && (ASCIICode < 48 || ASCIICode > 57) && ASCIICode != 46)
                return false; 
            return true; 
        } 
        var grayout1 ='{{settings1.condStarted}}';
        var grayout2 ='{{settings2.condStarted}}';
        var grayout3 ='{{settings3.condStarted}}';
        var grayout4 ='{{settings4.condStarted}}';

        function grayerOuter1(){    
            var elm =  document.getElementsByClassName("grayable1")
            if (grayout1 == "True"){
                
                for (var i = 0; i < elm.length; i++) { 
                    elm[i].disabled = true;
            }}
            else{
                for (var j = 0; j < elm.length; j++) { 
                    elm[j].disabled = false;
             }
            }
                    }
        function grayerOuter2(){    
            var elm =  document.getElementsByClassName("grayable2")
            if (grayout2 == "True"){
                
                for (var i = 0; i < elm.length; i++) { 
                    elm[i].disabled = true;
            }}
            else{
                for (var j = 0; j < elm.length; j++) { 
                    elm[j].disabled = false;
             }
            }
                    }
        function grayerOuter3(){    
            var elm =  document.getElementsByClassName("grayable3")
            if (grayout3 == "True"){
                
                for (var i = 0; i < elm.length; i++) { 
                    elm[i].disabled = true;
            }}
            else{
                for (var j = 0; j < elm.length; j++) { 
                    elm[j].disabled = false;
             }
            }            
        }
        function grayerOuter4(){    
            var elm =  document.getElementsByClassName("grayable4")
            if (grayout4 == "True"){
                
                for (var i = 0; i < elm.length; i++) { 
                    elm[i].disabled = true;
            }}
            else{
                for (var j = 0; j < elm.length; j++) { 
                    elm[j].disabled = false;
             }
            }            
        }

        function runInterval(){
            if (grayout1 == "True"){
            setInterval(loadKVMA,2000)
            }
            if (grayout2 == "True"){
            setInterval(loadKVMA,2000)
            }
            if (grayout3 == "True"){
            setInterval(loadKVMA,2000)
            }
            if (grayout4 == "True"){
            setInterval(loadKVMA,2000)
            }
        }

        function loadKVMA() {
            if (grayout1 == "True"){
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function () {
                    if (this.readyState == 4 && this.status == 200) {
                        document.getElementById("displayKVMA"+1).innerText = this.responseText;
                    }
                };
                xhttp.open("POST", "/ajaxGetReadouts", true);
                xhttp.send(1);}

            if (grayout2 == "True"){
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function () {
                    if (this.readyState == 4 && this.status == 200) {
                        document.getElementById("displayKVMA2").innerText = this.responseText;
                    }
                };
                xhttp.open("POST", "/ajaxGetReadouts", true);
                xhttp.send(2);
            }
            if (grayout3 == "True"){
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function () {
                    if (this.readyState == 4 && this.status == 200) {
                        document.getElementById("displayKVMA"+3).innerText = this.responseText;
                    }
                };
                xhttp.open("POST", "/ajaxGetReadouts", true);
                xhttp.send(3);
            }
            if (grayout4 == "True"){ 
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function () {
                    if (this.readyState == 4 && this.status == 200) {
                        document.getElementById("displayKVMA"+4).innerText = this.responseText;
                    }
                };
                xhttp.open("POST", "/ajaxGetReadouts", true);
                xhttp.send(4);
            }
                
            }
        function hvUpdater(supplyNumber) {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                
                if (this.readyState == 4 && this.status == 200) {
                    alert(this.responseText);
                }
            }
            var fd = new FormData(document.getElementById("HVSettings"+supplyNumber));
            fd.append("supplyNumber", supplyNumber);
            xhttp.open("POST", "/ajaxUpdateHV", true);
            xhttp.send(fd);
        }
    </script>

    <h1><a href="Quick_Access"><button class="b1">Return to Quick Access</button></a></h1>
    <!-- <input type="button" onclick="mychart(0)" value="Close Graphs"> -->
    <body  onload='grayerOuter1();grayerOuter2();grayerOuter3();grayerOuter4();runInterval()'>
    <div id="charts" hidden>
        <div  id="chartContainer1" style="height: 300px; width: 100%;"></div>
        <div  id="chartContainer2" style="height: 300px; width: 100%;"></div>
        <div  id="chartContainer3" style="height: 300px; width: 100%;"></div>
    </div>
    <div class="G">
        <section class="g" >
            <h1>Power Supply 1 Settings</h1>
            <!-- <input type="button" onclick="mychart(1)" value="Show Graphs"> -->
            <p id="displayKVMA1"></p>
            <div class="variables">
            <form id="HVSettings1" method="POST">
                <label>Filament Current Limit:</label>
                <input class="grayable1" type="text" onkeypress="return onlyNumberKey(event)" placeholder="Filament Current Limit" name="filCurLim" value={{settings1.filCurLim}}>
                <br>
                <label>Filament Pre-Heat:</label>
                <input class="grayable1" type="text" onkeypress="return onlyNumberKey(event)" placeholder="Filament Pre-Heat" name="filPreHeat" value={{settings1.filPreHeat}}>
                <br>
                <label>Max Allowed Supply KV:</label>
                <input  type="text" onkeypress="return onlyNumberKey(event)" placeholder="Max Allowed KV" name="maxKV" value={{settings1.maxKV}} disabled>
                <br>
                <label>Max Allowed Supply MA:</label>
                <input type="text" onkeypress="return onlyNumberKey(event)" placeholder="Max Allowed MA" name="maxMA" value={{settings1.maxMA}} disabled>
                <br>
                <label>Max Allowed Tube KV:</label>
                <input  type="text" onkeypress="return onlyNumberKey(event)" placeholder="Max Allowed Tube KV" name="maxTubeKV" value={{settings1.maxTubeKV}} disabled>
                <br>
                <label>Max Allowed Tube MA:</label>
                <input  type="text" onkeypress="return onlyNumberKey(event)" placeholder="Max Allowed Tube MA" name="maxTubeMA" value={{settings1.maxTubeMA}} disabled>
                <br>
                <label>kV Starting Voltage:</label>
                <input class="grayable1" type="text" onkeypress="return onlyNumberKey(event)" placeholder="kV Starting Voltage" name="condKVStart" value={{settings1.condKVStart}}>
                <br>
                <label>kV Target Voltage:</label>
                <input class="grayable1" type="text" onkeypress="return onlyNumberKey(event)" placeholder="kV Target Voltage" name="condKVTarget" value={{settings1.condKVTarget}}>
                <br>
                <label>mA Starting Current:</label>
                <input class="grayable1" type="text" onkeypress="return onlyNumberKey(event)" placeholder="mA Starting Current" name="condMAStart" value={{settings1.condMAStart}}>
                <br>
                <label>mA Target Current:</label>
                <input class="grayable1" type="text" onkeypress="return onlyNumberKey(event)" placeholder="mA Target Current" name="condMATarget" value={{settings1.condMATarget}}>
                <br>
                <label>Conditioning Step Dwell:</label>
                <input class="grayable1" type="text" onkeypress="return onlyNumberKey(event)" placeholder="Conditioning Step Dwell" name="condStepDwell" value={{settings1.condStepDwell}}>
                <br>
                <label>Dwell Time at Max:</label>
                <input class="grayable1" type="text" onkeypress="return onlyNumberKey(event)" placeholder="Dwell Time at Max" name="condAtMaxDwell" value={{settings1.condAtMaxDwell}}>
                <br>
                <label>Post Arc Dwell:</label>
                <input class="grayable1" type="text" onkeypress="return onlyNumberKey(event)" placeholder="Post Arc Dwell" name="condPostArcDwell" value={{settings1.condPostArcDwell}}>
                <br>
                <label>Off Dwell:</label>
                <input class="grayable1" type="text" onkeypress="return onlyNumberKey(event)" placeholder="Off Dwell" name="condOffDwell" value={{settings1.condOffDwell}}>
                <br>
                <label>Number of Steps:</label>
                <input class="grayable1" type="text" onkeypress="return onlyNumberKey(event)" placeholder="Number of Steps" name="condStepCount" value={{settings1.condStepCount}}>
                <br>
                <input class="grayable1"  type="button" onclick="hvUpdater(1)" name="UpdatePSU1" value="Click to Update Params" >
            </form>
            
            <form onclick="grayerOuter1();runInterval()">
                <br>
                <input class="grayable1" type="button" onclick="condStart(1)" name="StartCond" value="Click to Start Conditioning" >
                <input type="button" onclick="condStop(1)" name="StopCond" value="Click to Stop Conditioning" >
            </form>
            </div>
        </section>

        <section class="g">
            <h1>Power Supply 2 Settings</h1>
            <!-- <input type="button" onclick="mychart(2)" value="Show Graphs"> -->
            <p id="displayKVMA2"></p>
            
            <div class="variables">
            <form id="HVSettings2" method="POST">
                <label>Filament Current Limit:</label>
                <input class="grayable2" type="text" onkeypress="return onlyNumberKey(event)" placeholder="Filament Current Limit" name="filCurLim" value={{settings2.filCurLim}}>
                <br>
                <label>Filament Pre-Heat:</label>
                <input class="grayable2" type="text" onkeypress="return onlyNumberKey(event)" placeholder="Filament Pre-Heat" name="filPreHeat" value={{settings2.filPreHeat}}>
                <br>
                <label>Max Allowed Supply KV:</label>
                <input  type="text" onkeypress="return onlyNumberKey(event)" placeholder="Max Allowed KV" name="maxKV" value={{settings2.maxKV}} disabled>
                <br>
                <label>Max Allowed Supply MA:</label>
                <input type="text" onkeypress="return onlyNumberKey(event)" placeholder="Max Allowed MA" name="maxMA" value={{settings2.maxMA}} disabled>
                <br>
                <label>Max Allowed Tube KV:</label>
                <input  type="text" onkeypress="return onlyNumberKey(event)" placeholder="Max Allowed Tube KV" name="maxTubeKV" value={{settings2.maxTubeKV}} disabled>
                <br>
                <label>Max Allowed Tube MA:</label>
                <input  type="text" onkeypress="return onlyNumberKey(event)" placeholder="Max Allowed Tube MA" name="maxTubeMA" value={{settings2.maxTubeMA}} disabled>
                <br>
                <label>kV Starting Voltage:</label>
                <input class="grayable2" type="text" onkeypress="return onlyNumberKey(event)" placeholder="kV Starting Voltage" name="condKVStart" value={{settings2.condKVStart}}>
                <br>
                <label>kV Target Voltage:</label>
                <input class="grayable2" type="text" onkeypress="return onlyNumberKey(event)" placeholder="kV Target Voltage" name="condKVTarget" value={{settings2.condKVTarget}}>
                <br>
                <label>mA Starting Current:</label>
                <input class="grayable2" type="text" onkeypress="return onlyNumberKey(event)" placeholder="mA Starting Current" name="condMAStart" value={{settings2.condMAStart}}>
                <br>
                <label>mA Target Current:</label>
                <input class="grayable2" type="text" onkeypress="return onlyNumberKey(event)" placeholder="mA Target Current" name="condMATarget" value={{settings2.condMATarget}}>
                <br>
                <label>Conditioning Step Dwell:</label>
                <input class="grayable2" type="text" onkeypress="return onlyNumberKey(event)" placeholder="Conditioning Step Dwell" name="condStepDwell" value={{settings2.condStepDwell}}>
                <br>
                <label>Dwell Time at Max:</label>
                <input class="grayable2" type="text" onkeypress="return onlyNumberKey(event)" placeholder="Dwell Time at Max" name="condAtMaxDwell" value={{settings2.condAtMaxDwell}}>
                <br>
                <label>Post Arc Dwell:</label>
                <input class="grayable2" type="text" onkeypress="return onlyNumberKey(event)" placeholder="Post Arc Dwell" name="condPostArcDwell" value={{settings2.condPostArcDwell}}>
                <br>
                <label>Off Dwell:</label>
                <input class="grayable2" type="text" onkeypress="return onlyNumberKey(event)" placeholder="Off Dwell" name="condOffDwell" value={{settings2.condOffDwell}}>
                <br>
                <label>Number of Steps:</label>
                <input class="grayable2" type="text" onkeypress="return onlyNumberKey(event)" placeholder="Number of Steps" name="condStepCount" value={{settings2.condStepCount}}>
                <br>
                <input class="grayable2"  type="button" onclick="hvUpdater(2)" name="UpdatePSU1" value="Click to Update Params" >
            </form>
            
            <form onclick="grayerOuter2();runInterval()">
                <br>
                <input class="grayable2" type="button" onclick="condStart(2)" name="StartCond" value="Click to Start Conditioning" >
                <input type="button" onclick="condStop(2)" name="StopCond" value="Click to Stop Conditioning" >
            </form>
            </div>
        </section>

        <section class="g">
            <h1>Power Supply 3 Settings</h1>
            <!-- <input type="button" onclick="mychart(3)" value="Show Graphs"> -->
            <p id="displayKVMA3"></p>
            
            <div class="variables">
            <form id="HVSettings3" method="POST">
                <label>Filament Current Limit:</label>
                <input class="grayable3" type="text" onkeypress="return onlyNumberKey(event)" placeholder="Filament Current Limit" name="filCurLim" value={{settings3.filCurLim}}>
                <br>
                <label>Filament Pre-Heat:</label>
                <input class="grayable3" type="text" onkeypress="return onlyNumberKey(event)" placeholder="Filament Pre-Heat" name="filPreHeat" value={{settings3.filPreHeat}}>
                <br>
                <label>Max Allowed Supply KV:</label>
                <input  type="text" onkeypress="return onlyNumberKey(event)" placeholder="Max Allowed KV" name="maxKV" value={{settings3.maxKV}} disabled>
                <br>
                <label>Max Allowed Supply MA:</label>
                <input type="text" onkeypress="return onlyNumberKey(event)" placeholder="Max Allowed MA" name="maxMA" value={{settings3.maxMA}} disabled>
                <br>
                <label>Max Allowed Tube KV:</label>
                <input  type="text" onkeypress="return onlyNumberKey(event)" placeholder="Max Allowed Tube KV" name="maxTubeKV" value={{settings3.maxTubeKV}} disabled>
                <br>
                <label>Max Allowed Tube MA:</label>
                <input  type="text" onkeypress="return onlyNumberKey(event)" placeholder="Max Allowed Tube MA" name="maxTubeMA" value={{settings3.maxTubeMA}} disabled>
                <br>
                <label>kV Starting Voltage:</label>
                <input class="grayable3" type="text" onkeypress="return onlyNumberKey(event)" placeholder="kV Starting Voltage" name="condKVStart" value={{settings3.condKVStart}}>
                <br>
                <label>kV Target Voltage:</label>
                <input class="grayable3" type="text" onkeypress="return onlyNumberKey(event)" placeholder="kV Target Voltage" name="condKVTarget" value={{settings3.condKVTarget}}>
                <br>
                <label>mA Starting Current:</label>
                <input class="grayable3" type="text" onkeypress="return onlyNumberKey(event)" placeholder="mA Starting Current" name="condMAStart" value={{settings3.condMAStart}}>
                <br>
                <label>mA Target Current:</label>
                <input class="grayable3" type="text" onkeypress="return onlyNumberKey(event)" placeholder="mA Target Current" name="condMATarget" value={{settings3.condMATarget}}>
                <br>
                <label>Conditioning Step Dwell:</label>
                <input class="grayable3" type="text" onkeypress="return onlyNumberKey(event)" placeholder="Conditioning Step Dwell" name="condStepDwell" value={{settings3.condStepDwell}}>
                <br>
                <label>Dwell Time at Max:</label>
                <input class="grayable3" type="text" onkeypress="return onlyNumberKey(event)" placeholder="Dwell Time at Max" name="condAtMaxDwell" value={{settings3.condAtMaxDwell}}>
                <br>
                <label>Post Arc Dwell:</label>
                <input class="grayable3" type="text" onkeypress="return onlyNumberKey(event)" placeholder="Post Arc Dwell" name="condPostArcDwell" value={{settings3.condPostArcDwell}}>
                <br>
                <label>Off Dwell:</label>
                <input class="grayable3" type="text" onkeypress="return onlyNumberKey(event)" placeholder="Off Dwell" name="condOffDwell" value={{settings3.condOffDwell}}>
                <br>
                <label>Number of Steps:</label>
                <input class="grayable3" type="text" onkeypress="return onlyNumberKey(event)" placeholder="Number of Steps" name="condStepCount" value={{settings3.condStepCount}}>
                <br>
                <input class="grayable3"  type="button" onclick="hvUpdater(3)" name="UpdatePSU1" value="Click to Update Params" >
            </form>
            
            <form onclick="grayerOuter3();runInterval()">
                <br>
                <input class="grayable3" type="button" onclick="condStart(3)" name="StartCond" value="Click to Start Conditioning" >
                <input type="button" onclick="condStop(3)" name="StopCond" value="Click to Stop Conditioning" >
            </form>
            </div>
        </section>

        <section class="g" >
            <h1>Power Supply 4 Settings</h1>
            <!-- <input type="button" onclick="mychart(4)" value="Show Graphs"> -->
            <p id="displayKVMA4"></p>
            
            <div class="variables">
            <form id="HVSettings4" method="POST">
                <label>Filament Current Limit:</label>
                <input class="grayable4" type="text" onkeypress="return onlyNumberKey(event)" placeholder="Filament Current Limit" name="filCurLim" value={{settings4.filCurLim}}>
                <br>
                <label>Filament Pre-Heat:</label>
                <input class="grayable4" type="text" onkeypress="return onlyNumberKey(event)" placeholder="Filament Pre-Heat" name="filPreHeat" value={{settings4.filPreHeat}}>
                <br>
                <label>Max Allowed Supply KV:</label>
                <input  type="text" onkeypress="return onlyNumberKey(event)" placeholder="Max Allowed KV" name="maxKV" value={{settings4.maxKV}} disabled>
                <br>
                <label>Max Allowed Supply MA:</label>
                <input type="text" onkeypress="return onlyNumberKey(event)" placeholder="Max Allowed MA" name="maxMA" value={{settings4.maxMA}} disabled>
                <br>
                <label>Max Allowed Tube KV:</label>
                <input  type="text" onkeypress="return onlyNumberKey(event)" placeholder="Max Allowed Tube KV" name="maxTubeKV" value={{settings4.maxTubeKV}} disabled>
                <br>
                <label>Max Allowed Tube MA:</label>
                <input  type="text" onkeypress="return onlyNumberKey(event)" placeholder="Max Allowed Tube MA" name="maxTubeMA" value={{settings4.maxTubeMA}} disabled>
                <br>
                <label>kV Starting Voltage:</label>
                <input class="grayable4" type="text" onkeypress="return onlyNumberKey(event)" placeholder="kV Starting Voltage" name="condKVStart" value={{settings4.condKVStart}}>
                <br>
                <label>kV Target Voltage:</label>
                <input class="grayable4" type="text" onkeypress="return onlyNumberKey(event)" placeholder="kV Target Voltage" name="condKVTarget" value={{settings4.condKVTarget}}>
                <br>
                <label>mA Starting Current:</label>
                <input class="grayable4" type="text" onkeypress="return onlyNumberKey(event)" placeholder="mA Starting Current" name="condMAStart" value={{settings4.condMAStart}}>
                <br>
                <label>mA Target Current:</label>
                <input class="grayable4" type="text" onkeypress="return onlyNumberKey(event)" placeholder="mA Target Current" name="condMATarget" value={{settings4.condMATarget}}>
                <br>
                <label>Conditioning Step Dwell:</label>
                <input class="grayable4" type="text" onkeypress="return onlyNumberKey(event)" placeholder="Conditioning Step Dwell" name="condStepDwell" value={{settings4.condStepDwell}}>
                <br>
                <label>Dwell Time at Max:</label>
                <input class="grayable4" type="text" onkeypress="return onlyNumberKey(event)" placeholder="Dwell Time at Max" name="condAtMaxDwell" value={{settings4.condAtMaxDwell}}>
                <br>
                <label>Post Arc Dwell:</label>
                <input class="grayable4" type="text" onkeypress="return onlyNumberKey(event)" placeholder="Post Arc Dwell" name="condPostArcDwell" value={{settings4.condPostArcDwell}}>
                <br>
                <label>Off Dwell:</label>
                <input class="grayable4" type="text" onkeypress="return onlyNumberKey(event)" placeholder="Off Dwell" name="condOffDwell" value={{settings4.condOffDwell}}>
                <br>
                <label>Number of Steps:</label>
                <input class="grayable4" type="text" onkeypress="return onlyNumberKey(event)" placeholder="Number of Steps" name="condStepCount" value={{settings4.condStepCount}}>
                <br>
                <input class="grayable4"  type="button" onclick="hvUpdater(4)" name="UpdatePSU1" value="Click to Update Params" >
            </form>
            
            <form onclick="grayerOuter4();runInterval();" >
                <br>
                <input class="grayable4" type="button" onclick="condStart(4)" name="StartCond" value="Click to Start Conditioning" >
                <input type="button" onclick="condStop(4)" name="StopCond" value="Click to Stop Conditioning" >
            </form>
            </div>
        </section>
    </div>
</body>
</html>