<!DOCTYPE html>
<html lang="en">

    
    <head>
        <link rel="stylesheet" href="static\css\QuickAccessStyleSheet.css"/>
        <link rel = "icon" href ="static\img\icon.ico" type="image/icon"/> 
        <title>Conditioning Rig Quick Access</title>
    </head>

    <script> 
        function onlyNumberKey(evt) { 
              
            // Only ASCII charactar in that range allowed NUMBERS AND .
            var ASCIICode = (evt.which) ? evt.which : evt.keyCode 
            if (ASCIICode > 31 && (ASCIICode < 48 || ASCIICode > 57) && ASCIICode != 46)
                return false; 
            return true; 
        } 
        var grayout = '{{grayOut}}';
        function grayerOuter(){    
                   
            if (grayout == "True"){
                alert("Certain Elements are blocked because a conditioning routine is in progress");
                var elm =  document.getElementsByClassName("grayable")
                for (var i = 0; i < elm.length; i++) { 
                    elm[i].disabled = true;
            }}
            else{
                for (var i = 0; i < elm.length; i++) { 
                elm[i].disabled = false;
            }
            }
            
        }
        var choice = '{{tubeType}}';
        function selection(){
            document.getElementsByName('tubeType').options[choice].selected = True;
        }
    </script>

    <div>
        {% with messages = get_flashed_messages() %}
         {% if messages %}
            <ul>
               {% for message in messages %}
               <li>{{ message }}</li>
               {% endfor %}
            </ul>
         {% endif %}
      {% endwith %}
    </div>

    <header>
        <h1>Quick Access</h1>
    </header>
    <body onload=grayerOuter()>
    <!-- <div class="PSU_Nav">
        <h2>Power Supply 1</h2>
            <a href="hvsupplypage"><button class="b1">GoTo HV Settings</button></a>
            <a href="LogFileDownloaderPSU1"><button class='b1'>Download Log File</button></a>
            <br>
            <div >
                <form action="/ManualXrayControl" method="post">
                    <label>Quick HV and mA set.</label>
                    <br>
                    <span class="tst">
                    <input type="text" onkeypress="return onlyNumberKey(event)" placeholder="HV setpoint" name="kvSet" value={{currKV}}>
                    <input type="text" onkeypress="return onlyNumberKey(event)" placeholder="mA setpoint" name="mASet" value={{currMA}}>
                    </span >
                    <br>
                    <input type="submit" name="Set_KVMA" value="Click to set KV and MA">
                    <br>
                    <input type="submit" name="Xray_Off" value="Xray Off" >
                    <input type="submit" name="Xray_On" value="Xray On">
                    <br>
                    <input type="submit" name="CurrentValues" value="Check Current KV/MA Values">
                    <p>"Xray Off" turns the Xray off. "Xray On" turns Xray on with the current values in the boxes above. If Xray is already on,it changes the value to new value
                    </p>
                </form>
            </div>
    </div> -->
    <div class="PSUNAV">
        
            <div class = "navbar">
            <a href="hvsupplypage"><button class="b1">GoTo HV Settings</button></a>
            <a href="LogFileDownloaderPSU1"><button class='b1'>Download Log File</button></a>
            </div>
        <h2>Power Supply 1</h2>
            <br>
            <div >
                <form action="/settingTubes" method="post">
                    <input class="grayable" type="text" placeholder="Tube Serial Number" name="tubeSNum" value={{tubeSNum}}>
                    <label>Choose tube type: </label>
                    <select onload=selection() class="grayable" name="tubeType" value={{tubeType}}>
                        <option value="16" >16mm</option>
                        <option value="16s">16mm Stubby</option>
                        <option value="32">32mm</option>
                        <option value="60">60mm</option>
                        <option value="EMP">RDS Emp</option>
                    </select>

                    <br>
                    <input  class="grayable"type="submit" name="tubeSNumSetBtn" value="Click to set Tube Serial Number">
                    <br><br>
                </form>
                <form  action="/ManualXrayControl" method="post">
                    <label>Quick HV and mA set.</label>
                    <br>
                    <input class="grayable" type="text" onkeypress="return onlyNumberKey(event)" placeholder="HV setpoint" name="kvSet" value={{currKV}}>
                    <input class="grayable" type="text" onkeypress="return onlyNumberKey(event)" placeholder="mA setpoint" name="mASet" value={{currMA}}>
                    <br>
                    <input class="grayable" type="submit" name="Set_KVMA" value="Click to set KV and MA">
                    <br>
                    <input class="grayable" type="submit" name="Xray_Off" value="Xray Off" >
                    <input class="grayable" type="submit" name="Xray_On" value="Xray On">
                    <br>
                    <input  class="grayable"type="submit" name="CurrentValues" value="Check Current KV/MA Values">
                    <br>
                    <div class = paragraph>
                    <p1>"Xray Off" turns the Xray off. "Xray On" turns Xray on with the current values in the boxes above. If Xray is already on,it changes the value to new value
                    </p1>
                </div>
                </form>
            </div>
    </div>

</html>